<p style="color: green"><%= notice %></p>

<% content_for :title, "Flights" %>

<h1>Flights</h1>

<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Flying Session</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= flight.time&.strftime("%H:%M:%S") %></td>
          <td>
            <% if flight.flying_session %>
              <%= link_to "Session ##{flight.flying_session.id}", flying_session_path(flight.flying_session) %>
            <% else %>
              No session
            <% end %>
          </td>
          <td class="actions">
            <%= link_to "Show", flight, class: "btn btn-small" %>
            <%= link_to "Edit", edit_flight_path(flight), class: "btn btn-small" %>
            <%= link_to "Delete", flight_path(flight), method: :delete, 
                        confirm: "Are you sure?", class: "btn btn-small btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New flight", new_flight_path %>
