<p style="color: green"><%= notice %></p>

<% content_for :title, t('.title') %>

<div class="user-filter-section">
  <h1><%= t('.heading') %></h1>

  <div class="action-buttons">
    <%= link_to t('.new_link'), new_instructor_path, class: "btn btn-primary" %>
  </div>

  <div class="filter-controls">
    <% if current_user.admin? %>
      <%= form_with url: instructors_path, method: :get, local: true, class: "user-filter-form" do |form| %>
        <%= form.select :user_id,
            options_from_collection_for_select(@users, :id, :name, @selected_user&.id),
            { prompt: t('.all_users_prompt') },
            { class: "form-select", onchange: "this.form.submit();" }
        %>
      <% end %>
    <% end %>

    <div class="filter-info">
      <% if @selected_user %>

        <%= t('.showing_for', name: @selected_user.name) %>

      <% else %>

        <%= t('.showing_all') %>

      <% end %>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t('.th_name') %></th>
        <th><%= t('.th_flying_sessions') %></th>
        <th><%= t('.th_flight_time') %></th>
        <th><%= t('.th_actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @instructors.each do |instructor| %>
        <% stats = @instructor_stats[instructor.id] %>
        <tr>
          <td><%= link_to instructor.name, edit_instructor_path(instructor) %></td>
          <td><%= stats[:sessions_count] %></td>
          <td>
            <% minutes = stats[:flight_time] %>
            <% if minutes > 0 %>
              <%= (minutes / 60.0).round(1) %> <%= t('.hours_unit') %> (<%= minutes %> <%= t('.min_unit') %>)
            <% else %>
              -
            <% end %>
          </td>
          <td class="actions">
            <%= link_to t('.delete'), instructor_path(instructor),
                        data: { "turbo-method": :delete },
                        class: "btn btn-small btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
