<div id="<%= dom_id flying_session %>">
  <p>
    <% session_date = flying_session.date_time.to_date %>
    <strong><%= "#{session_date.day.ordinalize} of #{session_date.strftime('%B %Y')} - #{flying_session.date_time.strftime("%R")} with #{flying_session.instructor.name}" %></strong> 
  </p>

  <p>
    <strong>Flight time:</strong>
    <%= "#{flying_session.flight_time} min" %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= flying_session.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flying_session.user.name %>
  </p>
</div>
