<div id="<%= dom_id flying_session %>">
  <p>
    <strong>Date:</strong>
    <%= flying_session.date_time.to_date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= flying_session.date_time.strftime("%R") %>
  </p>

  <p>
    <strong>Flight time:</strong>
    <%= flying_session.flight_time %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= flying_session.note %>
  </p>

  <p>
    <strong>User:</strong>
    <%= flying_session.user.name %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= flying_session.instructor.name %>
  </p>

</div>
