<%= form_with(model: flying_session) do |form| %>
  <% if flying_session.errors.any? %>
    <div style="color: red">
      <h2><%= t('flying_sessions.form.error_header', count: flying_session.errors.count) %></h2>

      <ul>
        <% flying_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, t('flying_sessions.form.date'), style: "display: block" %>
    <%= form.date_field :date, value: flying_session.date_time&.to_date %>
  </div>

  <div>
    <%= form.label :time, t('flying_sessions.form.time'), style: "display: block" %>
    <%= form.time_field :time, value: flying_session.date_time&.strftime("%H:%M") %>
  </div>

  <div>
    <%= form.label :duration, t('flying_sessions.form.duration'), style: "display: block" %>
    <%= form.number_field :duration, min: 0, step: 1 %>
  </div>

  <div>
    <%= form.label :flights, t('flying_sessions.form.flights'), style: "display: block" %>
    <%= form.number_field :flights, min: 0, step: 1, value: flying_session.flights || 0 %>
  </div>

  <div>
    <%= form.label :note, t('flying_sessions.form.note'), style: "display: block" %>
    <%= form.text_area :note, rows: 8, cols: 50 %>
  </div>

  <% if @users.size > 1 %>
    <div>
      <%= form.label :user_id, t('flying_sessions.form.user'), style: "display: block" %>
      <%= form.select :user_id,
          options_from_collection_for_select(@users, :id, :name, flying_session.user_id || current_user.id),
          { prompt: t('flying_sessions.form.select_user') },
          { style: "display: block" } %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id, value: flying_session.user_id || current_user.id %>
  <% end %>

  <div>
    <%= form.label :instructor_id, t('flying_sessions.form.instructor'), style: "display: block" %>
    <%= form.select :instructor_id,
        options_from_collection_for_select(@instructors, :id, :name, flying_session.instructor_id),
        { prompt: t('flying_sessions.form.select_instructor') },
        { style: "display: block" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
