<p style="color: green"><%= notice %></p>

<% content_for :title, t('.title') %>

<div class="user-filter-section">
  <h1><%= t('.heading') %></h1>

  <div class="action-buttons">
    <%= link_to t('.new_link'), new_flying_session_path, class: "btn btn-primary" %>
  </div>

  <div class="filter-controls">
    <% if current_user.admin? %>
      <%= form_with url: flying_sessions_path, method: :get, local: true, class: "user-filter-form" do |form| %>
        <%= form.select :user_id,
            options_from_collection_for_select(@users, :id, :name, @selected_user&.id),
            { prompt: t('.all_users_prompt') },
            { class: "form-select", onchange: "this.form.submit();" }
        %>
      <% end %>
    <% end %>

    <div class="filter-info">
      <% if @selected_user %>

        <%= t('.showing_for', name: @selected_user.name) %>
        (<%= t('.session_count', count: @flying_sessions.count) %>)
        <% if @total_flight_time && @total_flight_time > 0 %>
          <br>
          <%= t('.total_flight_time') %>
          <strong><%= t('.hours', hours: (@total_flight_time / 60.0).round(1)) %></strong>
          (<%= t('.minutes', minutes: @total_flight_time) %>)
        <% end %>

      <% else %>

        <%= t('.showing_all') %>
        (<%= t('.session_count', count: @flying_sessions.count) %>)
        <% if @total_flight_time && @total_flight_time > 0 %>
          <br>
          <%= t('.total_flight_time') %>
          <strong><%= t('.hours', hours: (@total_flight_time / 60.0).round(1)) %></strong>
          (<%= t('.minutes', minutes: @total_flight_time) %>)
        <% end %>

      <% end %>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="data-table">
    <thead>
      <tr>
        <th><%= t('.th_number') %></th>
        <th><%= t('.th_date_time') %></th>
        <th><%= t('.th_flight_time') %></th>
        <th><%= t('.th_flights') %></th>
        <th><%= t('.th_user') %></th>
        <th><%= t('.th_instructor') %></th>
        <th class="note-column"><%= t('.th_note') %></th>
      </tr>
    </thead>
    <tbody>
      <% total = @flying_sessions.count %>
      <% @flying_sessions.each_with_index do |flying_session, index| %>
        <tr>
          <td><%= total - index %></td>
          <td>
            <%= link_to flying_session.date_time&.strftime("%d.%m.%Y - %H:%M"), edit_flying_session_path(flying_session),
              class: "text-link" %>
          </td>
          <td><%= flying_session.show_flight_time %></td>
          <td><%= flying_session.flights %></td>
          <td><%= flying_session.user&.name %></td>
          <td><%= flying_session.instructor&.name %></td>
          <td class="note-column">
            <%= truncate(flying_session.note, length: 500) %>
            <% if flying_session.note.present? && flying_session.note.length > 500 %>
              <%= link_to t('flying_sessions.show.edit_link'), flying_session_path(flying_session), class: "text-link" %>
            <% end %>
          </td>
        </tr>
        <% if flying_session.note.present? %>
          <tr class="note-row">
            <td colspan="6">
              <strong>Note:</strong>
              <%= truncate(flying_session.note, length: 500) %>
              <% if flying_session.note.length > 500 %>
                <%= link_to "Read more", flying_session_path(flying_session), class: "text-link" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
