<% content_for :title, t('.title') %>

<h1><%= t('.heading') %></h1>

<div class="session-details">
  <p>
    <strong><%= t('.date_time') %>:</strong>
    <%= @flying_session.date_time&.strftime("%d.%m.%Y - %H:%M") %>
  </p>

  <p>
    <strong><%= t('.user') %>:</strong>
    <%= @flying_session.user&.name %>
  </p>

  <p>
    <strong><%= t('.instructor') %>:</strong>
    <%= @flying_session.instructor&.name || t('.no_instructor') %>
  </p>

  <p>
    <strong><%= t('.flight_time') %>:</strong>
    <%= @flying_session.show_flight_time %> <%= t('.flight_time_unit') %>
  </p>

  <p>
    <strong><%= t('.number_of_flights') %>:</strong>
    <%= @flying_session.flights %>
  </p>

  <p>
    <strong><%= t('.notes') %>:</strong><br>
    <%= simple_format(@flying_session.note) %>
  </p>
</div>

<div class="action-buttons">
  <%= link_to t('.edit_link'), edit_flying_session_path(@flying_session), class: "btn btn-primary" %>
  <%= link_to t('.back_link'), flying_sessions_path, class: "btn btn-secondary" %>
  <%= button_to t('.delete_button'), flying_session_path(@flying_session), method: :delete,
                data: { turbo_confirm: t('.confirm_delete') }, class: "btn btn-danger" %>
</div>
